*
!/**/
!*.*
.cabal/
.config/
.cache/
.dotnet/
.ghcup/
.local/
.stack/
.vscode/
.vscode-remote-containers/
vscode-cpptools/
.bash_history
.vscode-server/
.bash_logout
.bashrc
.motd_shown
.profile
.sudo_as_admin_successful
.wget-hsts
!**/Doxyfile